img {
  filter: brightness(90%);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -1;
}
.greeting {
  color: white;
  position: absolute;
  top: 13%;
  left: 60px;
  font-size: 30px;
}
.login-form {
  position: absolute;
  top: 25%;
  left: 45%;
}
.todo-list {
  position: absolute;
  top: 23%;
  left: 60px;
}
.first-form input {
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  border-bottom: 1px solid gainsboro;
}
button {
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
