
#music-player{
    background: none;
    border: 1px solid white;
    position:absolute;
    right:40px;
    top:20%;
    color:white;
    width:300px;
    height:100px;
    font-size:20px;
    z-index:0;
  }
  .comment{
    border-bottom:1px solid white;
  }
  .contents{
    width:300px;
    height:80px;
    position:relative;
  }
  @keyframes rotate_img{
    100%{
      transform: rotate(360deg);
    }
  }
  
  .contents img{
    width:50px;
    height:50px;
    border-radius:25px;
    position:absolute;
    left:5px;
    top:13px;
    animation: rotate_img 25s linear infinite;
  }
  .contents span{
    color:white;
    position:absolute;
    top:5px;
    right:50px;
    font-size:15px;
    font-weight: 900;
  }
  @keyframes change_length{
    0%{
      width:1px;
    }
    50%{
      width:110px;
    }
    100%{
      width:220px;
    }
  }
  .stick1{
    width:220px;
    height:5px;
    background-color:white;
    position:absolute;
    top:35px;
    right:15px;
    border-radius:20%;
  }
  .stick2{
    height:5px;
    background-color:mediumslateblue;
    position:absolute;
    top:35px;
    left:60px;
    border-radius:20%;
    animation: change_length 157s linear infinite;
  }