@import "firstpage.css";
@import "music-box.css";
.hidden {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.time {
  color: white;
  position: absolute;
  top:30px;
  left: 60px;
  font-size: 60px;
  margin: 0;
}
.weather {
  color: white;
  position: absolute;
  right: 35px;
  font-size: 20px;
}
h2 ul{
  position: absolute;
  left:60px;
  top:29%;
  color:white;
}
h2 ul li{
  margin-bottom:15px;
}
#icon{
  width:200px;
  height:100px;
  position:absolute;
  left:60px;
  bottom:20px;
  padding:20px;
}
a{
  margin-right:7px;
}
.fa-twitter{
  color:#5da9dd;
}
.fa-instagram {
  color:white;
}
.fa-youtube{
  color:red;
}